## Words

In [42]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [43]:
# your code here
words_up = [word.upper() for word in words]
print(words_up)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

In [44]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [45]:
# your code here
words_5 = [element for element in words if len(element) > 5]
words_5

['filling', 'theatre', 'easygoing', 'island']

In [46]:
new_list=[]

for word in words:
    if len(word)>5:
        new_list.append(word)
print(new_list)

i[0]

['filling', 'theatre', 'easygoing', 'island']

**Print the first word starting with "t"**

In [60]:
# your code here
new_list=[]

for element in words:
    if element.startswith("t"):
        new_list.append(element)
print(new_list[0])

theatre

In [62]:
new_list = []

for word in words:
    if word[0]=="t":
        new_list.append(word)
print(new_list[0])

theatre

In [168]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
count = 0
for i in words:
    if i.startswith("t"):
        count += 1
        print(i)
    if count == 1:
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [63]:
# your code here
squares = [number**2 for number in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
squares=[]

for square in range(1,11):
    squares.append(square**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [50]:
# your code here
squares_2 = [number**2 for number in range(1,11,2)]
print(squares_2)

[1, 9, 25, 49, 81]

In [158]:
new_list_square_odd = []
for i in range(1,11,2):
    new_list_square_odd.append(i**2)
new_list_square_odd

[1, 9, 25, 49, 81]

In [65]:
squaresodd=[]

for square in range(1,11):
    if square % 2 != 0:
        squaresodd.append(square**2)
print(squaresodd)

[1, 9, 25, 49, 81]

In [177]:
lst_odd = []
other = []
for i in range(1, 11):
    other.append(i**2)
for e in other:
    if e % 2 != 0:
        lst_odd.append(e)
print(lst_odd)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [159]:
# your code here
squares_3 = [number**2 for number in range(1,1000) if number %8 == 0]
print(squares_3)

lst=[i**2 for i in range(8,1001,8)]
print(lst)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]
[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064, 1000000]

In [67]:
squaresmulti=[]

for square in range(1000):
    if square % 8 == 0:
        squaresmulti.append(square**2)
        
print(squaresmulti)

[0, 64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [172]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [53]:
# your code here
len(people)

5

In [68]:
count=0
for p in people:
    count+=1
print(f"There are {count} people")

There are 5 people

In [187]:
values = [people[i]['n_kids'] for i in people]
values
#people[0]['n_kids']

TypeError: list indices must be integers or slices, not dict

In [184]:
count = len([p for p in people])
print(f"There are {count} people")

There are 5 people

**How many people have kids**?

In [54]:
# your code here
dic_1 = people[0]
dic_2 = people[1]
dic_3 = people[2]
dic_4 = people[3]
dic_5 = people[4]

In [55]:
people = [dic_1,dic_2, dic_3, dic_4, dic_5]
people

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 1},
 {'name': 'Lucía', 'age': 22, 'n_kids': 2},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [70]:
# your code here
count=0
for k in people:
    if k["n_kids"] > 0:
        count +=1
print(f"There are {count} people with kids")

There are 4 people with kids

In [162]:
# your code here
nl=0
for i in people:
    if i["n_kids"] > 0:
        nl +=1
print(nl)

4

In [ ]:
# your code here
nl=[]
for i in people:
    for key, value in i.items():
        if key == "n_kids":
            if value!= 0:
                nl.append(value)
print(len(nl))

**How many kids do they have in total?**

In [73]:
kids=[]
for k in people:
    if k["n_kids"] > 0:
        kids.append(k["n_kids"])
kids=sum(kids)
print(f"The total number of kids are {kids}")

The total number of kids are 10

In [163]:
# your code here
nl1=[]
for i in people:
    if k["n_kids"]:
            nl1.append(value)
sum_=sum(nl1)
print(sum_)

[2, 0, 12, 13, 5]
32

In [166]:
kids = 0
for i in people: 
    kids += i['n_kids']
print(kids)

10

In [169]:
x = sum(item['n_kids'] for item in people)

x

10

In [57]:
# your code here
n_kids_1 = dic_1["n_kids"]
n_kids_2 = dic_2["n_kids"]
n_kids_3 = dic_3["n_kids"]
n_kids_4 = dic_4["n_kids"]
n_kids_5 = dic_5["n_kids"]

In [58]:
kids_tot = n_kids_1 + n_kids_2 + n_kids_3 + n_kids_4 + n_kids_5
print(kids_tot)

10

In [153]:
people[0]["n_kids"] > 0

9

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [140]:
# your code here
counter_2 = 0

for i in people:
    if i["name"].endswith("a"):
        counter_2 += 1
       
counter_2

kids_year = kids_tot + counter_2
print(kids_year)

12

In [141]:
copy_list = people
people2 = []
for p in copy_list:
    if p["name"][-1] == "a":
        p["n_kids"] += 1
    people2.append(p)
    
print(people2)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [156]:
people_year = []
for i in people:
    if i["name"].endswith('a'):
        i["n_kids"]+=1
        people_year.append(i)
    else:
        people_year.append(i)
print(people_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 12}, {'name': 'Lucía', 'age': 22, 'n_kids': 13}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [171]:
for i in people:
    if i["name"][-1] == "a":
        i ["n_kids"] += 1

print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 3}, {'name': 'Lucía', 'age': 22, 'n_kids': 4}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

In [176]:
total_kids2 = people.copy()
for i in total_kids2:
    if i["name"][-1] == "a":
          i["n_kids"] += 1
total_kids2

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 5},
 {'name': 'Lucía', 'age': 22, 'n_kids': 6},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]